.gmb-enable-session {
    margin: 10px;
}

.gmb-add-form, .attempts-block {
    margin: 10px;
}

.gmb-add-form div{
    margin-bottom: 10px;
}

.gmb-rules-tb, .gmb-attemps-tb {
    margin: 10px;
    text-align: center;
    width: 90%;
}

.gmb-rules-tb tr:nth-child(1) {
    background-color: black; 
    color: white;
}

.gmb-attemps-tb tr:nth-child(1) {
    background-color: black; 
    color: white;
}

.gmb-rules-tb td, .gmb-rules-tb th {
    padding: 5px;
}

.gmb-attemps-tb td, .gmb-attemps-tb th {
    padding: 5px;
}

.gmb-rules-tb tr:nth-child(2n) {
    background-color: #ccc;
}

.gmb-attemps-tb tr:nth-child(2n) {
    background-color: #ccc;
}

.gmb-chart-container {
    width: 92%;
}

.gmb-pagination {
    text-align: center;
}

.gmb-pagination select{
    min-width: 3rem;
    text-align: center;
}

.gmb-pagination ul li{
    float: left;
}

.gmb-instruct {
    border: 1px solid orange;
    padding: 10px;
}

.gmb-instruct ul {
    list-style-type: square;
    margin-left: 1rem;
}
